<h1 style="margin-top: 40px;"> Práctica 2 </h1>

<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Razon Social</th>
            <th>Direccion</th>
            <th>Email</th>
            <th>Borrar</th>
            <th>Seleccionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedores">
            <td>{{proveedor.codigo}}</td>
            <td>{{proveedor.razonsocial}}</td>
            <td>{{proveedor.direccion}}</td>
            <td>{{proveedor.email}}</td>
            <td><button (click)="borrarProveedor(proveedor)" class="btn btn-danger" >Borrar?</button></td>
            <td><button (click)="seleccionarProveedor(proveedor)" class="btn btn-primary">Seleccionar</button></td>
        </tr>
    </tbody>
</table>
