
<app-navbar [sideBar]="sideBar"></app-navbar>
<div class="container">
    <app-sidebar #sideBar></app-sidebar>
    <router-outlet></router-outlet>
    <!--<a routerLink="/articulos">Artículos</a> -------
    <a routerLink="/agregararticulo">Agregar Artículos</a>-->
    <!--<app-tabla (seleccion)="seleccion($event)"></app-tabla>
    <app-formulario [articuloSeleccionado]="articuloSeleccionado"></app-formulario>-->
</div>

