<div class="mb-3">
    <div *ngIf="msgAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>¡Error!</strong> {{msgText}}
        <button type="button" (click)="cerrarAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h1 style="margin-top: 40px;">Proveedores</h1>
    <br>
    <label for="txtCodigo" class="form-label">Código:</label>
    <input [(ngModel)]="proveedorSeleccionado.codigo" type="number" id="txtCodigo" name="codigo" class="form-control">
    <label for="txtRazonSocial" class="form-label">Razon social:</label>
    <input [(ngModel)]="proveedorSeleccionado.razonsocial" type="text" id="txtRazonSocial" name="razonsocial" class="form-control">
    <label for="txtDireccion" class="form-label">Direccion:</label>
    <input [(ngModel)]="proveedorSeleccionado.direccion" type="text" id="txtDireccion" name="direccion" class="form-control">
    <label for="txtEmail" class="form-label">Email:</label>
    <input [(ngModel)]="proveedorSeleccionado.email" type="text" id="txtEmail" name="email" class="form-control">


    <div *ngIf="msgModificar" class="alert alert-success d-flex align-items-center" role="alert" style="margin: 20px 20px 0 0;">
        <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>-->
        <div>
          Elemento modificado exitosamente.
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrarAlert()" style="margin-left: 960px;"></button>
    </div>

    <button class="btn btn-primary" (click)="agregarProveedores()" *ngIf="status=='agregar'" style="margin-right: 20px; margin-top: 30px;">  Agregar  </button>
    <button class="btn btn-primary" (click)="modificarProveedor()" *ngIf="status=='modificar'" style="margin-right: 20px; margin-top: 30px;">  Modificar  </button>
    <button class="btn btn-secondary" routerLink="/articulos" style="margin-top: 30px;">  Regresar  </button>
</div>
